@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600&family=Roboto&display=swap');

:root {
    box-sizing: border-box;
    --white: #f9f9f9;
}

body {
    background: no-repeat url('stuff/mike-smith-0FijUNA1GiY-unsplash.jpg');
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
}

.content-container {
    padding-bottom: 2.5rem;
}

.form-container {
    min-width: 500px;
    min-height: 300px;
    background: var(--white);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Archivo', sans-serif;
    font-size: 2.3rem;
    margin-bottom: 30px;
    margin-top: 0px;
    height: auto;
}

.input-row {
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
}

.row-input {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

label {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

label p {
    margin: 0;
    font-size: .8rem;
}

input {
    margin-top: 5px;
    width: 200px;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(208, 208, 208);
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 2.3rem;
    border: none;
    color: var(--white);
    border-radius: 15px;
    background-color: rgb(41, 106, 171);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

button:hover {
    background-color: rgb(50, 134, 218);
}

.login{
    color: rgb(41, 106, 171);
}

.login:hover {
    color: rgb(50, 134, 218);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    position: absolute;
    bottom: 0;
    height: 2.5rem;
    width: 100%;
}

.credit {
    font-size: 1rem;
    padding: 10px;
    border-radius: 15px;
}

.credit a:hover {
    color: #d7d7d7;
}